body {
    font: normal normal 12px 'Trebuchet MS', Trebuchet, Verdana, sans-serif;
    color: #666666;
    background: #ffffff none repeat scroll top left;
    padding: 0 0 0 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: break-word;
    overflow-x: hidden;
}

html body .region-inner {
    min-width: 0;
    max-width: 100%;
    width: auto;
}

.row-eq-height {
    display: -ms-flexbox;
    display: flex;
}

a:link {
    text-decoration: none;
    color: #333333;
}

a:visited {
    text-decoration: none;
    color: #888888;
}

a:hover {
   
    color: #b2b935;
}

.body-fauxcolumn-outer .fauxcolumn-inner {
    background: transparent none repeat scroll top left;
    _background-image: none;
}

.body-fauxcolumn-outer .cap-top {
    position: absolute;
    z-index: 1;
    height: 400px;
    width: 100%;
    background: #ffffff none repeat scroll top left;
}

.body-fauxcolumn-outer .cap-top .cap-left {
    width: 100%;
    background: transparent none repeat-x scroll top left;
    _background-image: none;
}

.content-outer {
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .15);
    -goog-ms-box-shadow: 0 0 0 #333333;
    box-shadow: 0 0 0 rgba(0, 0, 0, .15);
    margin-bottom: 1px;
}

.content-inner {
    background-color: #ffffff;
}

/* Header
----------------------------------------------- */
.header-outer {
    background: transparent none repeat-x scroll 0 -400px;
    _background-image: none;
}

.Header h1 {
    font: normal normal 40px 'Trebuchet MS', Trebuchet, Verdana, sans-serif;
    color: #000000;
    text-shadow: 0 0 0 rgba(0, 0, 0, .2);
}

.Header h1 a {
    color: #000000;
}

.Header .description {
    font-size: 1px;
    color: #000000;
}

.header-inner .Header .titlewrapper {
    padding: 22px 0;
}

.header-inner .Header .descriptionwrapper {
    padding: 0 0;
}

/* Tabs
----------------------------------------------- */
.tabs-inner .section:first-child {
    border-top: 0 solid #dddddd;
}

.tabs-inner .section:first-child ul {
    margin-top: -1px;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.tabs-inner .widget ul {
    background: transparent none repeat-x scroll 0 -800px;
    _background-image: none;
    border-bottom: 1px solid #dddddd;
    margin-top: 0;
    margin-left: -30px;
    margin-right: -30px;
}

.tabs-inner .widget li a {
    display: inline-block;
    padding: .6em 1em;
    font: normal normal 12px 'Trebuchet MS', Trebuchet, Verdana, sans-serif;
    color: #000000;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #dddddd;
}

.tabs-inner .widget li:first-child a {
    border-left: none;
}

.tabs-inner .widget li.selected a, .tabs-inner .widget li a:hover {
    color: #000000;
    background-color: #eeeeee;
    text-decoration: none;
}

/* Columns
----------------------------------------------- */
.main-outer {
    border-top: 0 solid transparent;
    clear: both;
}

.fauxcolumn-left-outer .fauxcolumn-inner {
    border-right: 1px solid transparent;
}

.fauxcolumn-right-outer .fauxcolumn-inner {
    border-left: 1px solid transparent;
}

/* Headings
----------------------------------------------- */
h2 {
    margin: 0 0 1em 0;
    font: normal bold 11px 'Trebuchet MS', Trebuchet, Verdana, sans-serif;
    color: #000000;
}

/* Widgets
----------------------------------------------- */
.widget .zippy {
    color: #999999;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
}

.widget .popular-posts ul {
    list-style: none;
    padding-left:0;
}

/* Posts
----------------------------------------------- */
.date-header span {
    background-color: #bbbbbb;
    color: #ffffff;
    padding: 0.4em;
    letter-spacing: 3px;
    margin: inherit;
}

.main-inner {
    padding-top: 35px;
    padding-bottom: 65px;
}

.post {
    margin: 0 0 15px 0;
}

h3.post-title, .comments h4 {
    font: normal normal 19px 'arial', Trebuchet, Verdana, sans-serif;
    margin: .75em 0 10px;
    text-transform: inherit;
    text-align: left !important;
}

.post-body {
    font-size: 110%;
    line-height: 1.4;
    position: relative;
    overflow-x: hidden;
}

.post-body img,
.post-body .tr-caption-container,
.Profile img, .Image img,
.BlogList .item-thumbnail img {
    padding: 2px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

.post-body img,
.post-body .tr-caption-container {
    padding: 5px;
    width: auto;
    height: auto;
    max-width: 100%;
}

.post-body .tr-caption-container {
    color: #666666;
}

.post-body .tr-caption-container img {
    padding: 0;
    background: transparent;
    border: none;
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 0 rgba(0, 0, 0, .1);
}

.post-header {
    margin: 0 0 1.5em;
    line-height: 1.6;
    font-size: 90%;
}

.post-footer {
    margin: 20px -2px 0;
    padding: 5px 10px;
    color: #666666;
    background-color: #eeeeee;
    border-bottom: 1px solid #eeeeee;
    line-height: 1.6;
    font-size: 90%;
}

#comments .comment-author {
    padding-top: 1.5em;
    border-top: 1px solid transparent;
    background-position: 0 1.5em;
}

#comments .comment-author:first-child {
    padding-top: 0;
    border-top: none;
}

.avatar-image-container {
    margin: .2em 0 0;
}

#comments .avatar-image-container img {
    border: 1px solid #eeeeee;
}

/* Comments
----------------------------------------------- */
.comments .comments-content .icon.blog-author {
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB9sLFwMeCjjhcOMAAAD+SURBVDjLtZSvTgNBEIe/WRRnm3U8RC1neQdsm1zSBIU9VVF1FkUguQQsD9ITmD7ECZIJSE4OZo9stoVjC/zc7ky+zH9hXwVwDpTAWWLrgS3QAe8AZgaAJI5zYAmc8r0G4AHYHQKVwII8PZrZFsBFkeRCABYiMh9BRUhnSkPTNCtVXYXURi1FpBDgArj8QU1eVXUzfnjv7yP7kwu1mYrkWlU33vs1QNu2qU8pwN0UpKoqokjWwCztrMuBhEhmh8bD5UDqur75asbcX0BGUB9/HAMB+r32hznJgXy2v0sGLBcyAJ1EK3LFcbo1s91JeLwAbwGYu7TP/3ZGfnXYPgAVNngtqatUNgAAAABJRU5ErkJggg==);
}

.comments .comments-content .loadmore a {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

.comments .comment-thread.inline-thread {
    background-color: #eeeeee;
}

.comments .continue {
    border-top: 2px solid #999999;
}

/* Accents
---------------------------------------------- */
.section-columns td.columns-cell {
    border-left: 1px solid transparent;
}

.blog-pager {
    background: transparent url(//www.blogblog.com/1kt/simple/paging_dot.png) repeat-x scroll top center;
}

.blog-pager-older-link, .home-link,
.blog-pager-newer-link {
    background-color: #ffffff;
    padding: 5px;
}

.footer-outer {
    border-top: 1px dashed #bbbbbb;
}

.tabs-inner {
    padding: 0 !important;
}

.tabs-inner .section {
    margin: 0 15px !important;
}

.content-inner {
    padding: 10px 0 !important;
}

.tabs-outer {
    clear: both;
}

.header-inner .section {
    float: left;
}

.menu_block {
    z-index: 999;
    position: relative;
    float: right;
    top: -40px;
    /*	margin-left: 226px;*/
}

.menu_block nav {
    position: relative;
}

.column-right-inner {
    padding: 0 0px 0 45px !important;
}

.main-inner .column-center-inner .section {
    margin: 0;
}

#sidebar-right-1 {
    margin-right: 0
}

#BlogArchive1 h2, h2.title, .PopularPosts h2 {
    font-size: 20px;
}

#CustomSearch1 {
    float: left;
}

#CustomSearch1, #Translate1 {
    width: 100%;
    clear: both;
}

.cameraContents > div:first-child {
    display: none !important;
}

span[dir="ltr"] {
    display: none;
}

.cover {
    height: 180px;
    position: relative;
    overflow: hidden;
}

.cover_bg {
    box-shadow: inset 0px -8px 20px rgba(0, 0, 0, 0.1);
    height: 100%;
    margin: -1px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    width: 228px;
}

.widget-content.list-label-widget-content > ul li a {
    text-decoration: none;
}

.widget-content.list-label-widget-content > ul li a font font {
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.widget-content.list-label-widget-content li a:hover font {
    -webkit-animation-name: wobble-horizontal;
    animation-name: wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Wobble Horizontal */
@-webkit-keyframes wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    33.3% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

ul, li {
    list-style: none;
}

.widget-content.list-label-widget-content > ul li a:before {
    content: '';
    width: 7px;
    height: 11px;
    display: inline-block;
    vertical-align: top;
    margin: 6px 10px 0 0;
    background-image: url(http://livedemo00.template-help.com/wordpress_51770/wp-content/themes/theme51770/images/arrow1.png);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.widget-content.list-label-widget-content > ul {
    margin-left: 0;
    padding:0;
}

.list.styled.custom-list > ul li {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 59px;
    text-transform: uppercase;
    background-color: #f4f5f5;
}

.posts-label {
    margin-top: 30px;
    margin-bottom: 30px;
}

.post-body.entry-content h1.duan,
.post-body.entry-content h1.duan + hr,
.post-body.entry-content .gallery1{
    display:none;
}
/*
@media (min-width: 1200px) {
    .widget-content.list-label-widget-content > ul li {
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .widget-content.list-label-widget-content > ul li {
        font-size: 15px;
    }
}
*/
.widget-content.list-label-widget-content > ul li {
    background-color: #f4f5f5;
}

.widget-content.list-label-widget-content > ul li:nth-child(2n) {
    background-color: #fafafa;
}

.widget-content.list-label-widget-content > ul li:before {
    display: none;
}

.widget-content.list-label-widget-content > ul li a {
    display: block;
    color: #464646;
    padding: 4px 10px 4px 15px;
    line-height: 23px;
    position: relative;
    z-index: 1;
}

@media (min-width: 1200px) {
    .list.styled.custom-list > ul li a {
        padding-left: 30px;
        padding-right: 12px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .list.styled.custom-list > ul li a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width: 1200px) {
    .widget-content.list-label-widget-content > ul li a:before {
        margin-right: 18px;
    }
}

.widget-content.list-label-widget-content > ul li a:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #4b4b4b;
    z-index: -1;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.widget-content.list-label-widget-content > ul li a:hover {
    color: #fff;
}

.widget-content.list-label-widget-content > ul li a:hover:before, .list.styled.custom-list > ul li a:focus:before {
    -webkit-transform: translate(3px, 0);
    -moz-transform: translate(3px, 0);
    -ms-transform: translate(3px, 0);
    -o-transform: translate(3px, 0);
    transform: translate(3px, 0);
}

@media (min-width: 1200px) {
    .widget-content.list-label-widget-content > ul li a:hover:before, .list.styled.custom-list > ul li a:focus:before {
        -webkit-transform: translate(7px, 0);
        -moz-transform: translate(7px, 0);
        -ms-transform: translate(7px, 0);
        -o-transform: translate(7px, 0);
        transform: translate(7px, 0);
    }
}

.widget-content.list-label-widget-content > ul li a:hover:after, .widget-content.list-label-widget-content > ul li a:focus:after {
    width: 100%;
}

.alignleft {
    margin: 3px 20px 10px 0;
}

.goog-te-gadget-simple {
    width: 100%;
}

.goog-te-gadget .goog-te-combo {
    width: 100%;
}

nav > .sf-menu {
    z-index: 990;
    text-align: left;
    position: relative;
}

h2.date-header {
    display: none;
}

.widget ul {
    padding-left: 0;
}

/*.list-label-widget-content li {
background:url(http://4.bp.blogspot.com/-yAtFwV9muuo/Uy_kn9yZ1nI/AAAAAAAAAD4/B2BRJHNuEX0/s1600/list_marker2.png) no-repeat 0 0;
padding-left:20px;
}*/
#Label1 h2 {
    font-size: 20px;
}

nav {
    position: relative;
    padding: 0px 0 0 0;
}

.sf-menu ul {
    position: absolute;
    top: -999px;
    display: none; /* left offset of submenus need to match (see below) */
}

.sf-menu li {
    float: left;
    position: relative;
}

.sf-menu > li {
    display: block;
    position: relative;
    float: left;
    font-size: 14px;
    line-height: 18px;
}

.sf-menu > li + li {
    margin-left: 53px;
}

.sf-menu > li + li:after {
    position: absolute;
    left: -25px;
    top: 0px;
    background-color: #bcbcbc;
    width: 1px;
    height: 20px;
    content: '';
    display: block;
}

.sf-menu > li > ul > li {
    float: none;
    position: static;
}

.sf-menu > li > a {
    display: block;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    position: relative;
    color: #333333;
}

.sf-menu > li > a:hover,
.sf-menu > li.current > a,
.sf-menu > li.sfHover > a {
    color: #b2b935;
}

.sf-menu > li > a.sf-with-ul:after {
    position: absolute;
    content: '';
    left: 50%;
    margin-left: -3px;
    width: 5px;
    height: 4px;
    bottom: 14px;
    pointer-events: none;
    z-index: 999;
    display: block;
}

.sf-menu > li.sfHover > a.sf-with-ul:after,
.sf-menu > li.current > a.sf-with-ul:after {
}

.sf-menu > li > ul > li > a.sf-with-ul:after {
    content: '';
    position: absolute;
    width: 5px;
    background: url(../images/arrows.png) 0 0 no-repeat;
    height: 4px;
    left: 50%;
    margin-left: -3px;
    bottom: 2px;
    pointer-events: none;
    z-index: 999;
}

.sf-menu > li > ul > li.sfHover > a.sf-with-ul:after {
}

.sf-menu a {
}

.sf-menu li ul, .sf-menu li.sfHover > ul {
    left: 50%;
    margin-left: -59px;
    z-index: 999;
    padding-top: 1px;
    width: 117px;
    background-color: #fff;
    top: 53px;
    padding-bottom: 10px;
}

.center_image {
    border: none !important
}

.post-outer {
    margin-top: 50px !important;
}

.post-outer img.history {
    max-width: 950px !important;
}

.sf-menu > li > ul {
    border-radius: 0 0 6px 6px;
    box-shadow: 0 3px 3px rgba(0, 0, 2, 0.28);
}

.sf-menu > li > ul > li > ul {
    border-radius: 6px;
    box-shadow: 0 3px 3px rgba(0, 0, 2, 0.28);
}

ul li {
    list-style: none;
}

.sf-menu li ul li {
    position: relative;
    text-align: center;
    float: none !important;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
}
.sf-menu li ul li.current {
	color: #b2b935
}

.sf-menu li ul li + li {
    margin-top: 2px;
}

.sf-menu li ul li a {
    text-transform: none;
    position: relative;
    z-index: 999;
    color: #9b9b9b;
}

.sf-menu li li a:hover,
.sf-menu li.sfHover li.sfHover > a {
    color: #b2b935;
}

.sf-menu li.sfHover li.sfHover ul {
    position: absolute;
    padding-top: 10px;
    padding-bottom: 9px;
    left: 188px;
    top: -9px;
}

.sf-menu li.sfHover li.sfHover ul li a {
    color: #9b9b9b;
}

.sf-menu li.sfHover li.sfHover ul li a:hover {
    color: #b2b935;
}

input.gsc-search-button {
    margin-left: 0 !important;
    padding: 5px 11px !important;
}

table.gsc-search-box td.gsc-input {
    padding-right: 5px !important;
}

input.gsc-input {
    border: 1px solid #a0a0a0;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
    line-height: 19px;
    outline: 0 none;
    padding: 5px 6px !important;
    transition: all 0.1s linear 0s;
}

#layout .region-inner {
    min-width: 0;
    width: auto;
}

#blog-pager {
    clear: both;
    margin: 30px auto;
    text-align: center;
    padding: 7px;
}

.blog-pager {
    background: none;
}

.displaypageNum a, .showpage a, .pagecurrent {
    font-size: 14px;
    padding: 5px 12px;
    margin-right: 5px;
    color: #666;
    background-color: #eee;
}

.displaypageNum a:hover, .showpage a:hover, .pagecurrent {
    background: #b2b935;
    text-decoration: none;
    color: #fff;
}

#blog-pager .pagecurrent {
    font-weight: bold;
    color: #fff;
    background: #b2b935;
}

.showpageOf {
    display: none !important
}

#blog-pager .pages {
    border: none;
}

/** begin slider thu 2 trang chu**/
#placeholder {
    overflow-y: hidden;
}

#insert_remove td, .get_reset td {
    padding: 5px;
}

#insert_remove input.txt, .get_reset input.txt {
    width: 200px;
}

#insert_remove select, .get_reset select {
    width: 210px;
}

.container.responsive {
    padding-bottom: 100px;
}

.image_carousel.responsive,
.list_carousel.responsive,
.html_carousel.responsive {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-top: -100px;
    margin-bottom: -10px;
}

.html_carousel.responsive {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.html_carousel.responsive img {
    width: 100%;
    height: 100%;
}

.image_carousel {
    padding: 0;
    width: 100%;
    position: relative;
}

.image_carousel .caroufredsel_wrapper a {
    display: block;
    float: left;
}

/* .image_carousel img {
    border: 1px solid #ccc;
    background-color: white;
    padding: 9px;
    margin: 7px;
    display: block;
    float: left;
} */

.list_carousel {
    padding: 15px 40px;
    position: relative;
}

.list_carousel ol, .list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.list_carousel li {
    font-size: 30px;
    color: #666;
    text-align: center;
    background-color: #f0f0f0;
    border: 5px solid #ccc;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 6px;
    display: block;
    float: left;
}

.html_carousel {
    padding: 25px 40px;
    position: relative;
}

.html_carousel div.slide {
    width: 870px;
    height: 400px;
    position: relative;
}

.html_carousel div.slide div {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    display: none;
    position: absolute;
    bottom: 0;
}

.wheel_of_fortune {
    height: 350px;
    position: relative;
}

.wheel_of_fortune ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    position: absolute;
}

.wheel_of_fortune li {
    font-size: 31px;
    color: black;
    text-align: center;
    background-color: #ffffdd;
    border: 5px solid black;
    width: 48px;
    height: 55px;
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}

.wheel_of_fortune li.no_txt {
    background: url(../examples/images/wheel_of_fortune.jpg) center center no-repeat #333;
}

#placeholder .html_carousel div.slide h4 {
    color: white;
    font-size: 35px;
    padding: 30px 0 0 100px;
    margin: 0;
    text-shadow: none;
}

.html_carousel div.slide p {
    color: white;
    font-size: 16px;
    padding: 0 0 30px 100px;
    margin: 0;
}

.transparent p.view_scripts {
    margin: 0;
    padding: 10px 0 10px 25px;
    position: relative;
}

.transparent p.view_scripts a {
    text-decoration: none;
    color: #999;
    font-weight: bold;
    padding-left: 20px;
}

.transparent p.view_scripts a:hover, .transparent p.view_scripts a.selected {
    color: #333;
}

a.prev, a.next, a.play, a.pause {
    background: url(../images/miscellaneous_sprite.png) 0 0 no-repeat transparent;
    width: 45px;
    height: 50px;
    display: block;
    position: relative;
}

.fa.fa-chevron-right, .fa.fa-chevron-left {
    font-size: 18px !important;
}

.fa.fa-chevron-right:hover, .fa.fa-chevron-left:hover {
    color: #508E24;
}

a.prev, a.next {
    top: -267px;
}

.list_carousel a.prev, .list_carousel a.next {
    top: 30px;
}

a.play, a.pause {
    top: 185px;
    left: 50%;
    margin-left: -22px;
    z-index: 200;
}

a.next {
    right: -970px;
}

a.prev {
    left: 950px;
}

a.prev:hover {
    background-position: 0 -50px;
}

a.prev.disabled {
    background-position: 0 -100px !important;
    cursor: default;
}

a.next {
    background-position: -50px 0;
}

a.next:hover {
    background-position: -50px -50px;
}

a.next.disabled {
    background-position: -50px -100px !important;
    cursor: default;
}

a.play {
    background-position: -150px 0;
}

a.play:hover {
    background-position: -150px -50px;
}

a.play.disabled {
    background-position: -150px -100px !important;
    cursor: default;
}

a.play.paused {
    background-position: -100px 0;
}

a.play.paused:hover {
    background-position: -100px -50px;
}

a.pause {
    background-position: -150px 0;
}

a.pause:hover {
    background-position: -150px -50px;
}

a.pause.disabled {
    background-position: -150px -100px !important;
    cursor: default;
}

a.prev span, a.next span, a.play span, a.pause span {
    display: none;
}

div.pagination {
    padding: 10px 40px 0 0;
    text-align: center;
    height: 15px;
}

div.pagination a {
    background: url(../images/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
    display: inline-block;
}

div.pagination a.selected {
    background-position: -25px -300px;
    cursor: default;
}

div.pagination a span {
    display: none;
}

div.logbox {
    background-color: #f9ffcc;
    border: 1px dotted #ff3300;
    padding: 10px 20px;
    margin: 10px 8px 0 6px;
}

div.logbox p {
    color: #ff3300;
    margin: 0;
}

div.timer {
    background-color: #9E1F63;
    width: 0;
    height: 6px;
}

div.thumbnails {
    margin: 10px 0 -10px 0;
    text-align: center;
}

div.thumbnails img {
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: white;
    padding: 9px;
    margin: 7px;
    display: inline-block;
}

div.thumbnails img:hover {
    background-color: #eee;
}

div.thumbnails img.selected {
    background-color: #ccc;
}

.scripts {
    position: relative;
}

.scripts .script {
    width: 950px;
    display: none;
}

#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #eee;
    padding: 5px;
}

#tooltip h3, #tooltip div {
    margin: 0;
}

/** end slider thu 2 trang chu**/
.recent-post {
    width: 100%;
    overflow: hidden;

}

.recent-post img {
    width: 100%;
}

.recent-post .recent-post__title {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    color: #b2b935;
    font: 16px/19px "Open Sans", sans-serif;
    padding: 0px 5px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    left: 10px;
    right: 10px;
    bottom: 0;
}

.recent-post .recent-post__title a {
    text-decoration: none;
    color: #B2B935 !important;
}

.recent-post .recent-post-title {
    padding-bottom: 20px;
}
.page-nhan a.btn {
    display: none !important;
}
.camera_loader {
    background: url(https://sites.google.com/a/add-group.net/planadd/htmlboxtesting/camera-loader.gif) no-repeat scroll center center rgba(255, 255, 255, 0.9);
}

.camera_caption div {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4) !important;
    font-family: arial;
    /* display:none !important;*/
}

.links {
    background-color: #B2B935;
    text-align: center;
    width: 100%;
    clear: both;
}

ul {
    list-style: none outside none;
    margin: 0;
    /*padding: 0;*/
}

.links ul li {
    display: inline-block;
    padding: 18px 0 19px;
    position: relative;
    text-align: center;
}

.links ul li a:after {
    background: url(https://sites.google.com/site/phongcachvietnampro/abc/icon1.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: '';
    height: 26px;
    left: -36px;
    position: absolute;
    top: -3px;
    width: 28px;
}

.links ul li + li a:after {
    background: url(https://sites.google.com/site/phongcachvietnampro/abc/icon2.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 29px;
    top: -4px;
}

.links ul li + li:after {
    background-color: #8C912A;
    bottom: 0;
    content:'';
    display: block;
    left: -20px;
    position: absolute;
    top: 0;
    width: 1px;
}

.links ul li + li + li a:after {
    background: url(https://sites.google.com/site/phongcachvietnampro/abc/icon3.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 33px;
    left: -39px;
    top: -7px;
    width: 33px;
}

.links ul li + li + li + li a:after {
    background: url(https://sites.google.com/site/phongcachvietnampro/abc/icon4.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 25px;
    left: -39px;
    top: 0;
    width: 25px;
}

.links ul li a {
    color: #FFFFFF;
    display: inline-block;
    font: bold 16px / 18px Open Sans;
    margin: 0 59px 0 60px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.home-slider {
    border-bottom: 1px solid #FFFFFF;
    clear: both;
    float: left;
    margin-top: 20px;
    width: 100%;
}

.home-slider .slider {
    overflow: visible;
    min-height: 30px;
}

.home-slider .slider .camera_wrap {
    margin-bottom: 0 !important;
}

.home-slider .slider .camera_target_content .cameraContent .camera_link {
    position: relative;
    z-index: 100;
}

.home-slider .slider .camera_target_content .cameraContent .camera_caption {
    width: 270px;
    bottom: 0 !important;
    /* top:50%;
    margin-top:-80px;
    left:50%;
    margin-left:-385px;
    */
    right: 0;
    z-index: 101;
}

.home-slider .slider .camera_target_content .cameraContent .camera_caption div {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 270px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.4);
    text-align: left;
    height: 536px;
}

.camera_caption h2 {
    padding-top: 91px;
    display: block !important;
    font-size: 22px;
    line-height: 30px;
}

.camera_caption div p {
    line-height: 24px;
    padding-top: 25px;
    font-size: 14px;
}

.home-slider .slider .camera_pag {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    right: 50px;
}

.home-slider .slider .camera_thumbs .camera_command_wrap .camera_thumbs_cont ul {
    margin-right: 50px !important;
    text-align: right !important;
    width: auto !important;
}

.home-slider .slider .camera_prevThumbs, .home-slider .slider .camera_nextThumbs, .home-slider .slider
.camera_prev, .home-slider .slider .camera_next, .home-slider .slider .camera_commands, .home-slider .slider
.camera_thumbs_cont {
    background: none;
}

.home-slider .slider .camera_prev, .home-slider .slider .camera_next {
    background: #010b17;
    background: rgba(0, 0, 0, 0.3);
    width: 34px;
    height: 34px;
    bottom: 17px;
    top: auto;
    left: 50%;
    display:none;
}

.home-slider .slider .camera_prev:hover, .home-slider .slider .camera_next:hover {
    background: #000000;
    background: rgba(0, 0, 0, 0.5);
}

.home-slider .slider .camera_prev span, .home-slider .slider .camera_next span {
    width: 12px;
    height: 22px;
    margin: 6px 0 0 10px;
}

.home-slider .slider .camera_prev {
    margin-left: 302px;
}

.home-slider .slider .camera_prev:hover span {
    background-position: 0 0;
}

.home-slider .slider .camera_prev span {
    background: url(images/left.png) -12px 0 no-repeat;
}

.home-slider .slider .camera_prev span:hover {
    background-position: 0 0;
}

.home-slider .slider .camera_next {
    margin-left: 339px;
}

.home-slider .slider .camera_next:hover span {
    background-position: 0 0;
}

.home-slider .slider .camera_next span {
    background: url(images/right.png) -12px 0 no-repeat;
}

.home-slider .slider .camera_next span:hover {
    background-position: 0 0;
}

.home-slider .slider .camera_next span {
    background: url(https://sites.google.com/a/add-group.net/planadd/right%5B1%5D.png) no-repeat scroll -12px 0 rgba(0, 0, 0, 0);
}

.home-slider .slider .camera_prev span {
    background: url(https://sites.google.com/a/add-group.net/planadd/left.png) no-repeat scroll -12px 0 rgba(0, 0, 0, 0);
}

.caroufredsel_prev,
.caroufredsel_next {
    background: url(http://livedemo00.template-help.com/joomla_49574/templates/theme1972/images/template/slider-pagination.gif) no-repeat #dca449;
    position: absolute;
    bottom: 0;
    display: block;
    height: 35px !important;
    width: 35px !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.caroufredsel_prev:hover,
.caroufredsel_next:hover {
    background-color: #363636;
}

.caroufredsel_prev span,
.caroufredsel_next span {
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.caroufredsel_prev {
    right: 35px;
    background-position: 13px 9px;
}

.caroufredsel_next {
    right: 0px;
    background-position: -23px 9px;
}

/*Pagination*/
.caroufredsel_pagination {
    text-align: center;
}

.caroufredsel_pagination a {
    display: inline-block;
    padding: 0 0.5em;
}

.caroufredsel_prev,
.caroufredsel_next {
    background: url(http://livedemo00.template-help.com/joomla_49574/templates/theme1972/images/template/slider-pagination.gif) no-repeat #ffffff !important;
    cursor: pointer;
}

.caroufredsel_prev:hover,
.caroufredsel_next:hover {
    background-color: #363636 !important;
}

.caroufredsel_prev {
    background-position: 13px -26px !important;
}

.caroufredsel_prev:hover {
    background-position: 13px 9px !important;
}

.caroufredsel_next {
    background-position: -29px 9px !important;
}

.caroufredsel_next:hover {
    background-position: -29px -26px !important;
}

div.disabled {
    cursor: inherit;
}

h3 {
    margin-bottom: 20px;
}

a.gal:hover span {
    background-position: center center !important;
}

a.gal:hover img {
    opacity: 0.6;
}

a.gal span {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.5s ease 0s;
}

h3 {
    /*border-bottom: 1px solid #B7B7B7;*/
    color: #333333;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 17px;
    padding-bottom: 6px;
    padding-top: 0;
    margin-top: 0;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

a.btn {
    color: #B2B935;
    display: inline-block;
    margin-top: 12px;
    padding: 0;
    text-decoration: underline;
}

.page1 .text1 {
    line-height: 17px;
    margin-bottom: 5px;
}

.text1 {
    color: #B2B935;
    font: bold 16px / 19px 'Open Sans', sans-serif;
    margin-bottom: 4px;
    text-transform: uppercase;
}

#project-planadd {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align:left;
}

#project-planadd .item {
    margin-bottom: 30px;
}

#project-planadd a.gal {
    display: block;
    position: relative;
    width:100%;
    overflow: hidden;
    padding-top:75%;
    background-position: 50% 50%;
}

.page-nhan #project-planadd a.gal {
    padding-top:0;
    height:200px;

    
}

#project-planadd a.gal img {
    box-shadow: 0 0 0 #FFFFFF;
    transition: all 0.5s ease 0s;
    width: 100%;
    height:auto;
}

.page-nhan #project-planadd a.gal img{
    display:none;
   
}

#project-planadd .recent-post__title a,
.posts-his-ach a{
    font:16px/19px 'Open Sans', sans-serif;
    margin-bottom: 10px;
    margin-top: 15px;
    text-transform: uppercase;
    display: inherit;
    color: #131313;
    height: 19px;
    overflow: hidden;
}

.page-nhan  #project-planadd .recent-post__title a{
    font-weight:600;
}

#project-planadd .recent-post__title a:hover ,
.posts-his-ach a:hover{
    text-decoration: underline;
    color: #b2b935;
}

a.prev, a.next {
    position: absolute !important;
    left: auto !important;
}

a.prev {
    right: 26px !important;
    top: 0 !important;
}

a.next {
    right: -26px !important;
    top: 0 !important;
}

.image_carousel .caroufredsel_wrapper a {
    float: none !important;
}

.posts-description {
    padding-left: 240px;
}

.post-title.entry-title {
    font-weight: bold;
    clear: both;
    padding: 0 0 20px;
    font-size: 17px;
    color: #b2b935;
    position: relative;
    border-bottom: 1px solid #b2b935;
    display: block;
}

.comment {
    display: none !important;
}
/* Mobile sidebar */
.mobile-sidebar {
    width: 250px;
    position: fixed;
    top: 30px;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: auto;
    background: #1c1e21;
    padding: 20px;
    transition: 0.5s;
    -ms-transform: translateX(320px);
    transform: translateX(320px);
}
.admin-bar .mobile-sidebar {
    top: 32px;
}
.mobile-sidebar ul {
    list-style: none;
    padding: 0;
    line-height: 40px;
}
.mobile-sidebar li ul {
    padding-left: 20px;
}
.mobile-sidebar li li {
    font-size: .9em;
}
.mobile-sidebar a {
    line-height: 1.5;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.3s;
}
.mobile-sidebar a:hover {
    text-decoration: none;
    color:#b2b935;
}

.mobile-sidebar .primary-menu-mobile li li a {
    line-height: 1.5;
    display: inline-block;
}
.mobile-sidebar .primary-menu-mobile ul {
    display: none;
}
.mobile-sidebar .dropdown-toggle {
    font-size: inherit;
    line-height: inherit;
    float: right;
    cursor: pointer;
}
.mobile-sidebar .search-field {
    background: transparent;
}
.mobile-sidebar .search-submit {
    display: none;
}
.mobile-sidebar .widget-title::after {
    right: 0;
}
.mobile-sidebar .widget-title span {
    background: #f5f5f5;
}
.mobile-menu-open .site {
    transform: translate3d(-320px, 0, 0);
    cursor: pointer;
}
.mobile-menu-open .mobile-sidebar {
    -ms-transform: translateX(0);
    transform: translateX(0);
    cursor: pointer;
}
.mobile-menu-open .wrapper {
    transform: translate3d(-240px,0,0);
    cursor: pointer;
}
.wrapper {
    overflow: hidden;
    position: relative;
    z-index: 9;
    transition: transform .5s;
}

.menu-toggle {
    height: 96px;
    padding: 0;
    float: right;
    border: 0;
    background: transparent;
}
.camera_wrap img {
    max-width: none!important;
    height: 100% !important;
    width: auto !important;
    border: 1px solid #c90;
    margin-top: 0 !important;
}

.posts-home-page {
    padding-bottom: 0px;
    overflow: hidden;
    clear: both;
    transition: all 600ms ease;
}

.posts-home-page .img-except{
    position: relative;
}

.posts-home-page .home-post-image{
    width: 270px;
    float: left;
    display: inline-block;
    height: 196px;
    overflow: hidden;

}
.posts-home-page .home-post-image img{
    padding:0;
    border:0;
}

.posts-home-page .except{
    padding-left:292px;
}

.posts-his-ach .home-post-image {
    width: 130px;
    height: 86px;
    background-position: 50% 50%;
    background-size: 200px;
}

.posts-his-ach .home-post-image img {
    padding: 0;
    border: 0;
    width: 150px;
    max-width:150px;
}

.posts-his-ach .except{
    padding-left: 160px;
}

.posts-his-ach .readmore{
   display:none !important;
}
/*
@media (max-width: 1200px){
    #project-planadd a.gal img {
        min-height: 0;
    }
    #project-planadd .recent-post__title a {
        font-size: 14px;
    }
}


@media (max-width: 500px){
    #project-planadd .col-md-3 {
        width: 100%;
    }
    #project-planadd a.gal {
        height: auto;
    }
    #project-planadd a.gal img {
        width: 100%;
        height: auto;
        min-height: 0;
    }
}
*/
.mobile #project-planadd .col-md-3 {
    width: 50%;
}
.mobile .col-md-8,
.mobile .col-md-4 {
    width: 100%;
}

.mobile #project-planadd .col-md-3 {
    width: 100%;
    margin-bottom: 30px;
}
.mobile #project-planadd a.gal {
    max-height: auto;
    max-height: initial;
}
.mobile #project-planadd a.gal img {
    width: 100%;
    height: auto;
    min-height: 0;
}

.mobile .posts-home-page .img-except {
    padding-left:0;
}
.mobile .posts-home-page .home-post-image {
    height: auto !important;
    width: 100% !important;
    position: relative;
    max-height: inherit;
    margin-bottom:15px;
}
.mobile .posts-home-page .except {
    padding-left:0;
}

.mobile #project-planadd .recent-post__title {
    padding: 10px 5px
}
.mobile #project-planadd .recent-post__title a {
    font-size: 18px;
    margin-top: 0px;
}
.cover_bg {
    box-shadow: 0;
    width: 100%;
}

.mobile #project-planadd .cover_bg {
    box-shadow: 0;
}

.mobile .home-post-image img {
    padding: 5px;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.mobile .column-right-inner {
    width:100%;
    padding-left:0 !important;
}
.mobile .column-right-inner .section{
    width:100%;
    margin:0px !important;
}

.mobile .main-inner .column-center-inner {
    padding: 0 15px;
}
.mobile .widget-content.list-label-widget-content> ul {
    padding-left:0px;
}

.mobile .menu_block .horizontal-nav{
    display:none;
}
.mobile .menu_block  {
    position: absolute;
    right: 0;
    top:17px;

}
.mobile .menu_block .navbar-toggle {
    display: block;
    padding:0;
    margin: 0;
    padding: 0;
    float: right;
    border: 0;
}

.mobile .menu_block .navbar-toggle .fa {
    background: #2f5d76;
    border-radius: 3px;
    padding: 10px;
    color:#fff;
}
.lazy-load-box {
	opacity: 0;
	-moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

/* Effects */
.trigger.effect-slideup {
	-moz-transform: translateY(100px);
	-webkit-transform: translateY(100px);
	-o-transform: translateY(100px);
	-ms-transform: translateY(100px);
	transform: translateY(100px);
}

.trigger.effect-slidedown {
	-moz-transform: translateY(-50px);
	-webkit-transform: translateY(-50px);
	-o-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.trigger.effect-slidefromleft {
	-moz-transform: translateX(-150px);
	-webkit-transform: translateX(-150px);
	-o-transform: translateX(-150px);
	-ms-transform: translateX(-150px);
	transform: translateX(-150px);
}

.trigger.effect-slidefromright {
	-moz-transform: translateX(150px);
	-webkit-transform: translateX(150px);
	-o-transform: translateX(150px);
	-ms-transform: translateX(150px);
	transform: translateX(150px);
}

.trigger.effect-zoomin {
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}

.trigger.effect-zoomout {
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
}

.trigger.effect-rotate {
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.trigger.effect-skew {
	-moz-transform: translateY(100px) skewX(-45deg) skewY(45deg);
	-webkit-transform: translateY(100px) skewX(-45deg) skewY(45deg);
	-o-transform: translateY(100px) skewX(-45deg) skewY(45deg);
	-ms-transform: translateY(100px) skewX(-45deg) skewY(45deg);
	transform: translateY(100px) skewX(-45deg) skewY(45deg);
}
