 /* Content
            ----------------------------------------------- */
            body {
            font: $(body.font);
            color: $(body.text.color);
            background: $(body.background);
            padding: 0 $(content.shadow.spread) $(content.shadow.spread) $(content.shadow.spread);
            $(body.background.override)
            }
            html body $(page.width.selector) {
            min-width: 0;
            max-width: 100%;
            width: $(page.width);
            }
            a:link {
            text-decoration:none;
            color: $(link.color);
            }
            a:visited {
            text-decoration:none;
            color: $(link.visited.color);
            }
            a:hover {
            text-decoration:underline;
            color: $(link.hover.color);
            }
            .body-fauxcolumn-outer .fauxcolumn-inner {
            background: transparent $(body.background.gradient.tile) repeat scroll top left;
            _background-image: none;
            }
            .body-fauxcolumn-outer .cap-top {
            position: absolute;
            z-index: 1;
            height: 400px;
            width: 100%;
            background: $(body.background);
            $(body.background.override)
            }
            .body-fauxcolumn-outer .cap-top .cap-left {
            width: 100%;
            background: transparent $(body.background.gradient.cap) repeat-x scroll top left;
            _background-image: none;
            }
            .content-outer {
            -moz-box-shadow: 0 0 $(content.shadow.spread) rgba(0, 0, 0, .15);
            -webkit-box-shadow: 0 0 $(content.shadow.spread.webkit) rgba(0, 0, 0, .15);
            -goog-ms-box-shadow: 0 0 $(content.shadow.spread.ie) #333333;
            box-shadow: 0 0 $(content.shadow.spread) rgba(0, 0, 0, .15);
            margin-bottom: 1px;
            }
            .content-inner {
            padding: $(content.padding) $(content.padding.horizontal);
            }
            $(content.background.color.selector) {
            background-color: $(content.background.color);
            }
            /* Header
            ----------------------------------------------- */
            .header-outer {
            background: $(header.background.color) $(header.background.gradient) repeat-x scroll 0 -400px;
            _background-image: none;
            }
            .Header h1 {
            font: $(header.font);
            color: $(header.text.color);
            text-shadow: $(header.shadow.offset.left) $(header.shadow.offset.top) $(header.shadow.spread) rgba(0, 0, 0, .2);
            }
            .Header h1 a {
            color: $(header.text.color);
            }
            .Header .description {
            font-size: $(description.text.size);
            color: $(description.text.color);
            }
            .header-inner .Header .titlewrapper {
            padding: 22px $(header.padding);
            }
            .header-inner .Header .descriptionwrapper {
            padding: 0 $(header.padding);
            }
            /* Tabs
            ----------------------------------------------- */
            .tabs-inner .section:first-child {
            border-top: $(header.bottom.border.size) solid $(tabs.border.color);
            }
            .tabs-inner .section:first-child ul {
            margin-top: -$(header.border.size);
            border-top: $(header.border.size) solid $(tabs.border.color);
            border-left: $(header.border.horizontalsize) solid $(tabs.border.color);
            border-right: $(header.border.horizontalsize) solid $(tabs.border.color);
            }
            .tabs-inner .widget ul {
            background: $(tabs.background.color) $(tabs.background.gradient) repeat-x scroll 0 -800px;
            _background-image: none;
            border-bottom: $(tabs.border.width) solid $(tabs.border.color);
            margin-top: $(tabs.margin.top);
            margin-left: -$(tabs.margin.side);
            margin-right: -$(tabs.margin.side);
            }
            .tabs-inner .widget li a {
            display: inline-block;
            padding: .6em 1em;
            font: $(tabs.font);
            color: $(tabs.text.color);
            border-$startSide: $(tabs.border.width) solid $(content.background.color);
            border-$endSide: $(tabs.bevel.border.width) solid $(tabs.border.color);
            }
            .tabs-inner .widget li:first-child a {
            border-$startSide: none;
            }
            .tabs-inner .widget li.selected a, .tabs-inner .widget li a:hover {
            color: $(tabs.selected.text.color);
            background-color: $(tabs.selected.background.color);
            text-decoration: none;
            }
            /* Columns
            ----------------------------------------------- */
            .main-outer {
            border-top: $(main.border.width) solid $(body.rule.color);
            clear:both;
            }
            .fauxcolumn-left-outer .fauxcolumn-inner {
            border-right: 1px solid $(body.rule.color);
            }
            .fauxcolumn-right-outer .fauxcolumn-inner {
            border-left: 1px solid $(body.rule.color);
            }
            /* Headings
            ----------------------------------------------- */
            h2 {
            margin: 0 0 1em 0;
            font: $(widget.title.font);
            color: $(widget.title.text.color);
            }
            /* Widgets
            ----------------------------------------------- */
            .widget .zippy {
            color: $(widget.alternate.text.color);
            text-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
            }
            .widget .popular-posts ul {
            list-style: none;
            }
            /* Posts
            ----------------------------------------------- */
            .date-header span {
            background-color: $(date.header.background.color);
            color: $(date.header.color);
            padding: $(date.header.padding);
            letter-spacing: $(date.header.letterspacing);
            margin: $(date.header.margin);
            }
            .main-inner {
            padding-top: $(main.padding.top);
            padding-bottom: $(main.padding.bottom);
            }
            .main-inner .column-center-inner {
            padding: 0 $(main.padding);
            }
            .main-inner .column-center-inner .section {
            margin: 0 $(main.section.margin);
            }
            .post {
            margin: 0 0 $(post.margin.bottom) 0;
            }
            h3.post-title, .comments h4 {
            font: $(post.title.font);
            margin: .75em 0 0;
            text-transform:inherit;
            }
            .post-body {
            font-size: 110%;
            line-height: 1.4;
            position: relative;
            }
            .post-body img, .post-body .tr-caption-container, .Profile img, .Image img,
            .BlogList .item-thumbnail img {
            padding: $(image.border.small.size);
            background: $(image.background.color);
            border: 1px solid $(image.border.color);
            -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
            -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
            box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
            }
            .post-body img, .post-body .tr-caption-container {
            padding: $(image.border.large.size);
                width: auto;
                height: auto;
            }
            .post-body .tr-caption-container {
            color: $(image.text.color);
            }
            .post-body .tr-caption-container img {
            padding: 0;
            background: transparent;
            border: none;
            -moz-box-shadow: 0 0 0 rgba(0, 0, 0, .1);
            -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .1);
            box-shadow: 0 0 0 rgba(0, 0, 0, .1);
            }
            .post-header {
            margin: 0 0 1.5em;
            line-height: 1.6;
            font-size: 90%;
            }
            .post-footer {
            margin: 20px -2px 0;
            padding: 5px 10px;
            color: $(post.footer.text.color);
            background-color: $(post.footer.background.color);
            border-bottom: 1px solid $(post.footer.border.color);
            line-height: 1.6;
            font-size: 90%;
            }
            #comments .comment-author {
            padding-top: 1.5em;
            border-top: 1px solid $(body.rule.color);
            background-position: 0 1.5em;
            }
            #comments .comment-author:first-child {
            padding-top: 0;
            border-top: none;
            }
            .avatar-image-container {
            margin: .2em 0 0;
            }
            #comments .avatar-image-container img {
            border: 1px solid $(image.border.color);
            }
            /* Comments
            ----------------------------------------------- */
            .comments .comments-content .icon.blog-author {
            background-repeat: no-repeat;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB9sLFwMeCjjhcOMAAAD+SURBVDjLtZSvTgNBEIe/WRRnm3U8RC1neQdsm1zSBIU9VVF1FkUguQQsD9ITmD7ECZIJSE4OZo9stoVjC/zc7ky+zH9hXwVwDpTAWWLrgS3QAe8AZgaAJI5zYAmc8r0G4AHYHQKVwII8PZrZFsBFkeRCABYiMh9BRUhnSkPTNCtVXYXURi1FpBDgArj8QU1eVXUzfnjv7yP7kwu1mYrkWlU33vs1QNu2qU8pwN0UpKoqokjWwCztrMuBhEhmh8bD5UDqur75asbcX0BGUB9/HAMB+r32hznJgXy2v0sGLBcyAJ1EK3LFcbo1s91JeLwAbwGYu7TP/3ZGfnXYPgAVNngtqatUNgAAAABJRU5ErkJggg==);
            }
            .comments .comments-content .loadmore a {
            border-top: 1px solid $(widget.alternate.text.color);
            border-bottom: 1px solid $(widget.alternate.text.color);
            }
            .comments .comment-thread.inline-thread {
            background-color: $(post.footer.background.color);
            }
            .comments .continue {
            border-top: 2px solid $(widget.alternate.text.color);
            }
            /* Accents
            ---------------------------------------------- */
            .section-columns td.columns-cell {
            border-$startSide: 1px solid $(body.rule.color);
            }
            .blog-pager {
            background: $(paging.background);
            }
            .blog-pager-older-link, .home-link,
            .blog-pager-newer-link {
            background-color: $(content.background.color);
            padding: 5px;
            }
            .footer-outer {
            border-top: $(footer.bevel) dashed #bbbbbb;
            }
            /* Mobile
            ----------------------------------------------- */
            body.mobile  {
            background-size: $(mobile.background.size);
            }
            .mobile .body-fauxcolumn-outer {
            background: $(mobile.background.overlay);
            }
            .mobile .body-fauxcolumn-outer .cap-top {
            background-size: 100% auto;
            }
            .mobile .content-outer {
            -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
            box-shadow: 0 0 3px rgba(0, 0, 0, .15);
            }
            body.mobile .AdSense {
            margin: 0 -$(content.shadow.spread);
            }
            .mobile .tabs-inner .widget ul {
            margin-left: 0;
            margin-right: 0;
            }
            .mobile .post {
            margin: 0;
            }
            .mobile .main-inner .column-center-inner .section {
            margin: 0;
            }
            .mobile .date-header span {
            padding: 0.1em 10px;
            margin: 0 -10px;
            }
            .mobile h3.post-title {
            margin: 0;
            }
            .mobile .blog-pager {
            background: transparent none no-repeat scroll top center;
            }
            .mobile .footer-outer {
            border-top: none;
            }
            .mobile .main-inner, .mobile .footer-inner {
            background-color: $(content.background.color);
            }
            .mobile-index-contents {
            color: $(body.text.color);
            }
            .mobile-link-button {
            background-color: $(link.color);
            }
            .mobile-link-button a:link, .mobile-link-button a:visited {
            color: $(mobile.button.color);
            }
            .mobile .tabs-inner .section:first-child {
            border-top: none;
            }
            .mobile .tabs-inner .PageList .widget-content {
            background-color: $(tabs.selected.background.color);
            color: $(tabs.selected.text.color);
            border-top: $(tabs.border.width) solid $(tabs.border.color);
            border-bottom: $(tabs.border.width) solid $(tabs.border.color);
            }
            .mobile .tabs-inner .PageList .widget-content .pagelist-arrow {
            border-$startSide: 1px solid $(tabs.border.color);
            }
            .tabs-inner {padding:0 !important;}
            .tabs-inner .section {margin:0 15px !important;}
            .content-inner {padding:10px 0 !important;}
            .tabs-outer {clear:both;}
            .header-inner .section {float:left;}
            .menu_block  {
            z-index: 999;
            position: relative;
            float: right;
            top:-40px;
            /*	margin-left: 226px;*/
            }
            .menu_block nav {
            position: relative;
            }
            .column-right-inner
            {
            padding: 0 0px 0 45px !important;
            }
            .main-inner .column-center-inner .section {margin:0;}
            #sidebar-right-1 {margin-right:0}
            #BlogArchive1 h2,h2.title, .PopularPosts h2 {font-size:20px;}
            #CustomSearch1 {float:left; }
            #CustomSearch1, #Translate1 {
            width:100%;

            clear:both;
            }
            .cameraContents > div:first-child{
            display:none !important;
            }
            span[dir="ltr"] {
            display:none;
            }
            .cover {
            height: 180px;
            position: relative;
            overflow: hidden;
            }
            .cover_bg {
            box-shadow: inset 0px -8px 20px rgba(0, 0, 0, 0.1);
            height: 100%;
            margin: -1px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            transition: all 0.2s;
            -moz-transition: all 0.2s;
            -webkit-transition: all 0.2s;
            -o-transition: all 0.2s;
            width:228px;
            }
            .widget-content.list-label-widget-content > ul li a {
            text-decoration:none;
            }
            .widget-content.list-label-widget-content > ul li a  font font {
            display: inline-block;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            box-shadow: 0 0 1px transparent; }
            .widget-content.list-label-widget-content li a:hover font
            {
            -webkit-animation-name: wobble-horizontal;
            animation-name: wobble-horizontal;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1; }
            /* Wobble Horizontal */
            @-webkit-keyframes wobble-horizontal {
            16.65% {
            -webkit-transform: translateX(8px);
            transform: translateX(8px); }
            33.3% {
            -webkit-transform: translateX(-6px);
            transform: translateX(-6px); }
            49.95% {
            -webkit-transform: translateX(4px);
            transform: translateX(4px); }
            66.6% {
            -webkit-transform: translateX(-2px);
            transform: translateX(-2px); }
            83.25% {
            -webkit-transform: translateX(1px);
            transform: translateX(1px); }
            100% {
            -webkit-transform: translateX(0);
            transform: translateX(0); } }
            ul, li {
            list-style:none;
            }
            .widget-content.list-label-widget-content > ul li a:before {
            content:'';
            width:7px;
            height:11px;
            display:inline-block;
            vertical-align:top;
            margin:6px 10px 0 0;
            background-image:url(http://livedemo00.template-help.com/wordpress_51770/wp-content/themes/theme51770/images/arrow1.png);
            -webkit-transition:0.4s;
            -moz-transition:0.4s;
            -o-transition:0.4s;
            transition:0.4s;
            }
            .widget-content.list-label-widget-content > ul { margin-left:0; }
            .list.styled.custom-list > ul li {
            margin:0;
            font-family:'Open Sans', sans-serif;
            font-size:13px;
            line-height:59px;
            text-transform:uppercase;
            background-color:#f4f5f5;
            }
            @media (min-width: 1200px) {
            .widget-content.list-label-widget-content > ul li { font-size:15px; }
            }
            @media (max-width: 767px) {
            .widget-content.list-label-widget-content > ul li { font-size:15px; }
            }
            .widget-content.list-label-widget-content > ul li { background-color:#f4f5f5; }
            .widget-content.list-label-widget-content > ul li:nth-child(2n) { background-color:#fafafa; }
            .widget-content.list-label-widget-content > ul li:before { display:none; }
            .widget-content.list-label-widget-content > ul li a {
            display:block;
            color:#464646;
            padding:4px 10px 4px 15px;
            line-height:23px;
            position:relative;
            z-index:1;
            }
            @media (min-width: 1200px) {
            .list.styled.custom-list > ul li a {
            padding-left:30px;
            padding-right:12px;
            }
            }
            @media (min-width: 768px) and (max-width: 979px) {
            .list.styled.custom-list > ul li a {
            padding-top:10px;
            padding-bottom:10px;
            }
            }
            @media (min-width: 1200px) {
            .widget-content.list-label-widget-content > ul li a:before { margin-right:18px; }
            }
            .widget-content.list-label-widget-content > ul li a:after {
            content:'';
            position:absolute;
            left:0;
            top:0;
            bottom:0;
            width:0;
            background-color:#4b4b4b;
            z-index:-1;
            -webkit-transition:0.4s;
            -moz-transition:0.4s;
            -o-transition:0.4s;
            transition:0.4s;
            }
            .widget-content.list-label-widget-content > ul li a:hover { color:#fff; }
            .widget-content.list-label-widget-content > ul li a:hover:before, .list.styled.custom-list > ul li a:focus:before {
            -webkit-transform:translate(3px,0);
            -moz-transform:translate(3px,0);
            -ms-transform:translate(3px,0);
            -o-transform:translate(3px,0);
            transform:translate(3px,0);
            }
            @media (min-width: 1200px) {
            .widget-content.list-label-widget-content > ul li a:hover:before, .list.styled.custom-list > ul li a:focus:before {
            -webkit-transform:translate(7px,0);
            -moz-transform:translate(7px,0);
            -ms-transform:translate(7px,0);
            -o-transform:translate(7px,0);
            transform:translate(7px,0);
            }
            }
            .widget-content.list-label-widget-content > ul li a:hover:after, .widget-content.list-label-widget-content > ul li a:focus:after { width:100%; }
            .alignleft { margin:3px 20px 10px 0; }
            .goog-te-gadget-simple {width:100%;}
            .goog-te-gadget .goog-te-combo {width:100%;}
            nav>.sf-menu {
            z-index: 990;
            text-align: left;
            position: relative;
            }
            h2.date-header {display:none;}
            .widget ul {
            padding-left:0;
            }
            /*.list-label-widget-content li {
            background:url(http://4.bp.blogspot.com/-yAtFwV9muuo/Uy_kn9yZ1nI/AAAAAAAAAD4/B2BRJHNuEX0/s1600/list_marker2.png) no-repeat 0 0;
            padding-left:20px;
            }*/
            #Label1 h2 {font-size:20px;}
            nav{ position:relative;padding: 0px 0 0 0;}
            .sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
            .sf-menu li {float:left;position:relative; }
            .sf-menu>li {
            display: block;
            position: relative;
            float: left;
            font-size: 14px;
            line-height: 18px;
            }
            .sf-menu>li+li {
            margin-left: 53px;
            }
            .sf-menu>li+li:after {
            position: absolute;
            left: -25px;
            top: 0px;
            background-color: #bcbcbc;
            width: 1px;
            height: 20px;
            content: '';
            display: block;
            }
            .sf-menu>li>ul>li {
            float: none;
            position: static;
            }
            .sf-menu>li>a{
            display: block;
            text-transform: uppercase;
            text-align: center;
            overflow: hidden;
            position: relative;
            color: #333333;
            }
            .sf-menu>li>a:hover,
            .sf-menu>li.current>a,
            .sf-menu>li.sfHover>a {
            color: #b2b935;
            }
            .sf-menu>li>a.sf-with-ul:after {
            position: absolute;
            content: '';
            left: 50%;
            margin-left: -3px;
            width: 5px;
            background: url(../images/arrows.png) 0 0 no-repeat;
            height: 4px;
            bottom: 14px;
            pointer-events: none;
            z-index: 999;
            display: block;
            }
            .sf-menu>li.sfHover>a.sf-with-ul:after,
            .sf-menu>li.current>a.sf-with-ul:after {
            }
            .sf-menu>li>ul>li>a.sf-with-ul:after {
            content: '';
            position: absolute;
            width: 5px;
            background: url(../images/arrows.png) 0 0 no-repeat;
            height: 4px;
            left: 50%;
            margin-left: -3px;
            bottom: 2px;
            pointer-events: none;
            z-index: 999;
            }
            .sf-menu>li>ul>li.sfHover>a.sf-with-ul:after {
            }
            .sf-menu a{
            }
            /*================================>> 2 Level <<========================================*/
            .sf-menu li ul,.sf-menu li.sfHover>ul{
            left: 50%;
            margin-left: -59px;
            z-index: 999;
            padding-top: 1px;
            width: 117px;
            background-color: #fff;
            top: 53px;
            padding-bottom: 10px;
            }
            .center_image{ border: none !important}

            .post-outer{ margin-top: 50px !important;}

            .post-outer img.history {max-width:950px !important;}
            .sf-menu>li>ul {
            border-radius: 0 0 6px 6px;
            box-shadow: 0 3px 3px rgba(0,0,2,0.28);
            }
            .sf-menu>li>ul>li>ul {
            border-radius: 6px;
            box-shadow: 0 3px 3px rgba(0,0,2,0.28);
            }
            ul li {list-style:none;}
            .sf-menu li ul li{
            position: relative;
            text-align: center;
            float: none !important;
            font-size: 14px;
            line-height: 19px;
            text-align:left;
            }
            .sf-menu li ul li+li {
            margin-top: 2px;
            }
            .sf-menu li ul li a{
            text-transform: none;
            position: relative;
            z-index: 999;
            color:#9b9b9b;
            }
            .sf-menu li li a:hover,
            .sf-menu li.sfHover li.sfHover>a {
            color: #b2b935;
            }
            /*================================>> 3 Level <<========================================*/
            .sf-menu li.sfHover li.sfHover ul{
            position: absolute;
            padding-top: 10px;
            padding-bottom: 9px;
            left: 188px;
            top: -9px;
            }
            .sf-menu li.sfHover li.sfHover ul li a {
            color: #9b9b9b;
            }
            .sf-menu li.sfHover li.sfHover ul li a:hover {
            color: #b2b935;
            }
                input.gsc-search-button {


            margin-left: 0 !important;
            padding: 5px 11px !important;
            }
            table.gsc-search-box td.gsc-input {
            padding-right: 5px !important;
            }
            input.gsc-input {
            border: 1px solid #a0a0a0;
            border-radius: 0;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            box-sizing: border-box;
            color: #000;
            font-size: 14px;
            line-height: 19px;
            outline: 0 none;
            padding: 5px 6px !important;
            transition: all 0.1s linear 0s;
            }
